div.io {
  display: flex;
  margin: 30px;
  flex-direction: row;
  justify-content: space-around;
}

span.spacer {
  font-size: 30px;
  
}

Result {
  margin: 0;
  font-size: 40px
}

div.spacer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
