div.io {
  display: flex;
  margin: 30px;
  flex-direction: row;
  justify-content: space-around;
}

Input {
  border: 0px;
  border-bottom: 2px black solid;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  font-size: 40px;
}

Input:focus {
  box-shadow: 0 0 5px grey;
  outline-color: white;
}

text.spacer {
  font-size: 30px;
}
