
div.parent {
  font-family: 'Muli', sans-serif;
  display: grid;
  place-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  height: 100vh;
}

div.container {
  border: solid #a3a3a3 2px;
  border-radius: 10px;
}

div.buttons {
  display: flex;
  padding: 30px;
  margin-left: 0px;
}

button {
  margin: 5px;
}
